[submodule "vim/plugged/ctrlp.vim"]
    path = vim/plugged/ctrlp.vim
    url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/plugged/nerdtree"]
    path = vim/plugged/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugged/vim-airline"]
    path = vim/plugged/vim-airline
    url = https://github.com/vim-airline/vim-airline.git
